*

!inertia-core
inertia-core/pkg
inertia-core/target

!inertia-wasm
inertia-wasm/pkg
inertia-wasm/target

!inertia-async-server
inertia-async-server/target

!inertia-web
inertia-web/node_modules
inertia-web/dist
