@use "sass:color";
@use "../../styles/variables.scss" as *;

.board {
  border: 2px solid $border-color;
  width: 90svmin;
  height: 90svmin;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  box-sizing: border-box;
  margin: 2svmin;
}

.square {
  background: $square-color;
  border: 1px solid $border-color;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &.block-right {
    border-right: 3px solid #222;
  }
  
  &.block-left {
    border-left: 3px solid #222;
  }
  
  &.block-up {
    border-top: 3px solid #222;
  }
  
  &.block-down {
    border-bottom: 3px solid #222;
  }

  &.move-target {
    cursor: pointer;
  }

  @each $color-name, $value in $canonical-colors {
    .move-ray-#{$color-name} {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background: color.scale($value, $lightness: 75%);
    }

    .move-#{$color-name} {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background: color.scale($value, $lightness: 50%);
    }
  }
  
  &.goal {
    background:
      linear-gradient(45deg, $canonical-red, $transparent 50%),
      linear-gradient(135deg, $canonical-green, $transparent 50%),
      linear-gradient(225deg, $canonical-yellow, $transparent 50%),
      linear-gradient(315deg, $canonical-blue, $transparent 50%),
      $square-color;
  }
}

.actor {
  box-sizing: border-box;
  border-radius: 35%;
  width: 80%;
  height: 80%;
  border: 2px solid #222;
  cursor: pointer;

  &.selected {
    border: 3px solid #eee;
  }

  @each $color-name, $value in $canonical-colors {
    &.actor-#{$color-name} {
      background: $value
    }
  }
}
