@use "sass:color";
@use "../../styles/common.scss";

.board {
  border: 2px solid common.$board-border-color;
  width: 90svmin;
  height: 90svmin;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  box-sizing: border-box;
  margin: 2svmin;
}

.square {
  background: common.$square-color;
  border: 1px solid common.$board-border-color;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &.block-right {
    border-right: 3px solid #222;
  }
  
  &.block-left {
    border-left: 3px solid #222;
  }
  
  &.block-up {
    border-top: 3px solid #222;
  }
  
  &.block-down {
    border-bottom: 3px solid #222;
  }

  &.move-target {
    cursor: pointer;
  }

  @each $color-name, $value in common.$canonical-colors {
    &:not(.goal) {
      .move-ray-#{$color-name} {
        background: color.scale($value, $lightness: 75%);
      }
    
      .move-#{$color-name} {
        background: color.scale($value, $lightness: 50%);
      }
    }

    .move-ray-#{$color-name} {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  
    .move-#{$color-name} {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  
  &.goal {
    background:
      linear-gradient(45deg, common.$canonical-red, common.$transparent 50%),
      linear-gradient(135deg, common.$canonical-green, common.$transparent 50%),
      linear-gradient(225deg, common.$canonical-yellow, common.$transparent 50%),
      linear-gradient(315deg, common.$canonical-blue, common.$transparent 50%),
      common.$square-color;
  }
}

.actor {
  box-sizing: border-box;
  border-radius: 35%;
  width: 80%;
  height: 80%;
  border: 2px solid #222;
  cursor: pointer;
  z-index: 2;

  &.selected {
    border: 3px solid #eee;
  }

  @each $color-name, $value in common.$canonical-colors {
    &.actor-#{$color-name} {
      background: $value
    }
  }
}
