@use '../../styles/common.scss';

.joinGameSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.difficultySelection {
  padding: 0.25em;
  width: 100%;
}

.nameHeader {
  margin-right: 0.5em;
  font-weight: bold;
}
