@use 'sass:color';
@use '../../styles/common.scss';

.solutionTrayContainer {
  font-size: 2em;
  width: 11em;
}

.stepIcon {
  display: flex;
  
  &.selectable {

    cursor: pointer;
  }

  &.selected {
    border-bottom: 2px solid #333333;
  }

  &.neutral {
    color: #333333;
  }

  @each $color-name, $value in common.$canonical-colors {
    &.#{$color-name} {
      color: color.scale($value, $lightness: -25%);
    }
  }
}
