$canonical-red: rgb(255, 0, 0);
$canonical-green: rgb(0, 230, 0);
$canonical-blue: rgb(40, 40, 255);
$canonical-yellow: rgb(240, 240, 0);

$canonical-colors: (
  'red': $canonical-red,
  'green': $canonical-green,
  'blue': $canonical-blue,
  'yellow': $canonical-yellow,
);

$transparent: rgb(255, 255, 255, 0);
$board-border-color: #888;
$square-color: #aaa;
$muted-color: rgba(50, 50, 50, 0.5);
