@use '../../styles/common.scss';

.divider {
  width: 100%;
  display: flex;
  align-items: center;
  color: common.$muted-color;

  &.narrow {
    width: 50%;
  }

  &::before, &.withText::after {
    flex: 1;
    content: '';
    height: 2px;
    background-color: #bbb;
    margin: 0.75em 0.75em;
  }
}
