.divider {
  display: block;
  width: calc(100% - 40px);
  height: 2px;
  background-color: #bbb;
  margin: 0.75em;
  color: rgba(50, 50, 50, 0.5);
}

.dividerText {
  width: 100%;
  display: flex;
  align-items: center;
  color: rgba(50, 50, 50, 0.5);
}

.dividerText::before,
.dividerText::after {
  flex: 1;
  content: '';
  height: 2px;
  background-color: #bbb;
  margin: 0.75em 1.5em;
}
