@font-face {
  font-family: "Plexifont";
  src: url("/plexifont.woff") format("woff");
}

@font-face {
  font-family: "Electrolize";
  src: url("/electrolize.woff2") format("woff2");
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/chakra-petch.woff2") format("woff2");
}

@font-face {
  font-family: "Chivo Mono";
  src: url("/chivo-mono.woff2") format("woff2");
}

* {
  font: inherit;
}

body {
  font-family: 'Chakra Petch';
  font-size: 12px;
}

@media (min-width: 400px) and (min-height: 400px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 500px) and (min-height: 500px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 600px) and (min-height: 600px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1000px) and (min-height: 1000px) {
  body {
    font-size: 20px;
  }
}
